.body {
    background-color: palevioletred;
}

.container {
    background-color: palegreen;
    margin: 50px;
    height: 80vh;
    position: relative;
    border: solid 3px black;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: xxx-large;
    }

    h2 {
        font-size: xx-large;
    }

    &-form_imputs {
        width: 300px;
        margin: auto;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: larger;
        text-align: center;
    }
}

.hidden {
    display: none;
}